*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    background-color: rgb(246, 246, 246);
}

/*HEADER*/

header{

    background-color: white;
    height: 105px;
}

/*posizione logo e scritta in modo che stanno
alla stessa altezza*/

header section div{
    display: inline-block;
    margin-top: 10px;
    vertical-align: middle;
}

/*dimensioni logo*/

header section div img{
    height: 80px;
    width: 80px;
}

/*dimensioni scritta*/

header section div h1{
    font-size: 60px;
}

/*MAIN*/

/*container dimensione ampiezza*/
main div{
    margin: 0 auto;
    margin-top: 50px;
    width: 1170px;
    background-color: white;
}

/*container pulsanti altezza */
#containerPulsanti{
    border-radius: 1%; 
    height: 100px;
    padding-bottom: 90px;

}

/*container task altezza */
#containerTask{
    border-radius: 1%; 
    height: 775px;
    margin-top: 3px;
}