*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    background-color: rgb(246, 246, 246);
}

/*HEADER*/

header{
    background-color: white;
    height: 105px;
}


/*posizione logo e scritta in modo che stanno
alla stessa altezza*/

header section div{
    display: inline-block;
    margin-top: 10px;
    vertical-align: middle;
}

/*dimensioni logo*/

header section div img{
    height: 80px;
    width: 80px;
}

/*dimensioni*/

header section div h1{
    font-size: 60px;
}

/*MAIN*/

main{
    width: screen;
}

/*container dimensione ampiezza*/
main div{
    margin: 0 auto;
    margin-top: 50px;
    width: 1170px;
    background-color: white;
}

/*container pulsanti altezza */
#containerPulsanti{
    border-radius: 1%; 
    height: 10px;
    padding-bottom: 90px;

}

/*PULSANTI*/

#containerPulsanti{
    text-align:left;
}

main div div{
    display: inline;
    border-radius: 5px;
}

.pulsante{
    margin-top: 30px;
    margin-left: 5px;
    border-radius: 5px;
    width: 110px;
    height: 40px;
}

.pulsanteAzzurro{
  
    border: 2px solid rgb(74, 173, 238);
    background-color: rgb(74, 173, 238);
    color:white;

}

.pulsanteBianco{ 
    border: 2px solid rgb(224, 224, 224);
    background-color: white;
    color: gray;
    border: 7px color black;
}


/*container task altezza */
#containerTask{
    border-radius: 1%; 
    height: 775px;
    margin-top: 3px;
}

/*questo per tenere tutte le task inline*/

h2 .contenutoTask{
    display: inline;
}


/*class che crea un distacco di 50px tra le varie categorie*/
.distaccoSU{
    padding-top: 50px;
}

/*class che crea un margine a sinistra di 90px*/
.distanza{
    margin-left: 90px;
}

/*class che tiene inline*/
.inline{
    display: inline;
}

#margin{
    margin-bottom: 20px;
    visibility: hidden;
}


/*questi sono i vari campi nella zona task*/
.campi{
    border-radius: 15px;
    color:white;
    width: 70px;
    height: 30px;
    margin-bottom: 20px;
    border: 0cap;
}


.Editorial{
    background-color: rgb(61, 155, 249);
}
.Q1Goals{
    background-color: rgb(94, 29, 129);
}
.Recruiting{
    background-color: rgb(5, 203, 130);
}
.mobile{
    background-color: orange;
}
.website{
    background-color: rgb(243, 101, 124);
}
.sales{
    background-color: rgb(72, 140, 82);
}


